{{ partial "head" . }}
<section class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <ul class="nav nav-tabs nav-stacked">
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-content">
                        {{ .Content }}   
                    </div>
                </div>
            </div>
        </div>        
    </section>
{{ partial "foot" . }}


