
<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <small>2019 Governo do Estado do Acre</small>
                    <small>Copyright Todos os direitos reservados</small>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right">
                    <small>Polícia Militar do Estado do Acre</small>
                    <small>Divisão Tecnologia da Informação</small>
                </div>
            </div>
        </div>
        <div class="bar gradient-gov"></div>
    </footer>
    
    <script src="/jquery.min.js"></script>
    
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/swipper.min.js"></script>
    <script src="/menu-floating.js"></script>
    <script src="/pushy.min.js"></script>
    <script src="/owl.carousel.js"></script>
    
    <!-- Datatables Responsive -->
    <script type="text/javascript" src="/datatables.script.js"></script>
    <script type="text/javascript" src="/datatables.min.js"></script>
    
    <!-- Sweet-Alert  -->
    <script src="/sweetalert2.min.js"></script>
    
    <!-- JAVASCRIPT PARA PESQUISA DINÂMICA -->
    <script type="text/javascript" src="/pesquisa_dinamica.js"></script>
    
    <!-- Livequery -->
    <script type="text/javascript" src="/livequery.js"></script>
    
    <!-- JS UTIL -->
    <script src="/utils.js" type="text/javascript"></script>
    <script src="/projeto.utils.js" type="text/javascript"></script>
    
    <!-- Audio Player Scripts -->
    <script src="/mediaelement-and-player.min.js"></script>
    
    <!-- Scripts do Footer -->
    <script src="/footer.js"></script>
    
    
    <script type="text/javascript" src="/portal.js"></script></body></html>