
<!--{{ partial "slideshow" . }}-->


<section class="institution">
    <div class="container">
        <div class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-2016px, 0px, 0px); transition: all 0.25s ease 0s; width: 3808px;">
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.al.ac.leg.br/">
                            <div class="item" style="background-image: url(assets/img/logos/aleac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://mpc.tce.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/mpc.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.pge.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/pge.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.tce.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/tceac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="https://www.tjac.jus.br/">
                            <div class="item" style="background-image: url(assets/img/logos/tjac.jpg)"></div>
                        </a></div>
                    <div class="owl-item" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://defensoria.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/dpac.jpg)"></div>
                        </a></div>
                    <div class="owl-item" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="https://www.mpac.mp.br/">
                            <div class="item" style="background-image: url(assets/img/logos/mpac.jpg)"></div>
                        </a></div>
                    <div class="owl-item" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.al.ac.leg.br/">
                            <div class="item" style="background-image: url(assets/img/logos/aleac.jpg)"></div>
                        </a></div>
                    <div class="owl-item" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://mpc.tce.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/mpc.jpg)"></div>
                        </a></div>
                    <div class="owl-item active" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.pge.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/pge.jpg)"></div>
                        </a></div>
                    <div class="owl-item active" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.tce.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/tceac.jpg)"></div>
                        </a></div>
                    <div class="owl-item active" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="https://www.tjac.jus.br/">
                            <div class="item" style="background-image: url(assets/img/logos/tjac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned active" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://defensoria.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/dpac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned active" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="https://www.mpac.mp.br/">
                            <div class="item" style="background-image: url(assets/img/logos/mpac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.al.ac.leg.br/">
                            <div class="item" style="background-image: url(assets/img/logos/aleac.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://mpc.tce.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/mpc.jpg)"></div>
                        </a></div>
                    <div class="owl-item cloned" style="width: 214px; margin-right: 10px;"><a target="_blank"
                            href="http://www.pge.ac.gov.br/">
                            <div class="item" style="background-image: url(assets/img/logos/pge.jpg)"></div>
                        </a></div>
                </div>
            </div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                        aria-label="Previous">‹</span></button><button type="button" role="presentation"
                    class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                    role="button" class="owl-dot"><span></span></button></div>
        </div>
    </div>
</section>

<section class="category section bg-gray">
    <div class="container">
        <!-- <div class="section-header">
                <h2 class="section-title">Browse Categories</h2>
                <p>Most popular categories of portal, sorted by popularity</p>
            </div> -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a target="_blank"
                    href="http://www.ac.gov.br/wps/portal/acre/Acre/home/!ut/p/c5/vY5Bb4JAFIR_i3-A95aVZTkCXRHobqFFi1wIGmOQIqQlEvfXF-Oph9qL6ZvjzJtvoIBJp-pcH6qh7k7VB-RQsDKes2QdBwSDlAoM_cRzVyoiiObkb1iJv5yLf3y_Q47z8u146UPd6NejTrXS6iV7FqN8CsggDihxiGUzYrYN8Uu7VH7uUInugtIh60UqXE-W-7qZTV3FDxqPJJ9oU0ipMEJq3vw7W9Wya_ewgcIu_dQm6bUFF8LDkDnEl8jQTAhkD9x8n0X_j2XhQ1kRFPW2NcZda6BhU9tBRi3O55xwi0HuQd-uzv1yJPyq0Z19A1lYoQE!/dl3/d3/L2dBISEvZ0FBIS9nQSEh/">
                    <div class="icon bg-color-1">
                        <!-- <i class="fal fa-print-search"></i> -->
                        <img src="logo-gestao.svg" alt="">
                    </div>
                    <h3>Transparêcia da Gestão</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a target="_blank" href="http://www.servicos.sga.ac.gov.br/servicos/index.php/apresentacao">
                    <div class="icon bg-color-2">
                        <!-- <i class="fal fa-id-badge"></i> -->
                        <img src="logo-atualizacao.svg" alt="">
                    </div>
                    <h3>Atualização Cadastral</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a target="_blank" href="http://transparencia.ac.gov.br/acessoainformacao/index.php">
                    <div class="icon bg-color-3">
                        <!-- <i class="fal fa-browser"></i> -->
                        <img src="logo-transparencia.svg" alt="">
                    </div>
                    <h3 class="portal">Portal da Transparência</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category border-right-0">
                <a target="_blank" href="http://www.diario.ac.gov.br/">
                    <div class="icon bg-color-4">
                        <!-- <i class="fal fa-newspaper"></i> -->
                        <img src="logo-diario.svg" alt="">
                    </div>
                    <h3>Diário Oficial</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                <a target="_blank" href="https://contracheque.ac.gov.br/login">
                    <div class="icon bg-color-5">
                        <!-- <i class="fal fa-file-invoice-dollar"></i> -->
                        <img src="logo-financeiro.svg" alt="">
                    </div>
                    <h3>Informações Financeira</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                <a target="_blank"
                    href="http://www.ac.gov.br/wps/portal/acre/Acre/governo-estado/!ut/p/c5/rZDBkoIwEES_xQ9YMkQIcFRABCRFABFzodhdi0I36oEKu_n6hfIsXpw5dvX060EcjXttZNc2fXe7Nj-oQpzUsUHSMg50sKPEhtDVyw2lYQRrMurH5_oSv3AfUAVGnZ__7qG6qOwMA04UT5OCDYnnQ64OS7o7AfVB5Zc-6v1WrYPQa6FwKv97kzG3_zB-5YMCnswKXlBEiHefQhu-hAaaaROHEAyOrTumjQ1UBSMmnzsx1Zz0GYAj4lbtMktnkx9i5kFIttZ-VbqQFhYq3vSI2ZwMvy2Hbm_ihO5iL3emzFMhhWwXi3-GwTtF/dl3/d3/L2dBISEvZ0FBIS9nQSEh/">
                    <div class="icon bg-color-6">
                        <img src="logo-patrimonios.svg" alt="">
                        <!-- <i class="fal fa-box-ballot"></i> -->
                    </div>
                    <h3>Gestão de Patrimônios</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                <a target="_blank" href="http://gsp.ac.gov.br/%22">
                    <div class="icon bg-color-7">
                        <!-- <i class="fal fa-ballot-check"></i> -->
                        <img src="logo-oca.svg" alt="">
                    </div>
                    <h3 class="oca">Guia de Serviços Públicos</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category border-right-0 border-bottom-0">
                <a target="_blank"
                    href="http://app.sei.ac.gov.br/sip/login.php?sigla_orgao_sistema=AC&amp;sigla_sistema=SEI">
                    <div class="icon bg-color-8">
                        <!-- <i class="fal fa-desktop-alt"></i> -->
                        <img src="logo-sei.svg" alt="">
                    </div>
                    <h3>Sistema Eletrônico de Informação</h3>
                </a>
            </div>
        </div>
    </div>
</section>